**/__pycache__/
**/*.py[cod]
.pytest_cache/
mypy_cache/
ruff_cache/
.venv/
.vscode/
notebooks/
logs/
tests/
*.log
*.pyc
*.pyo
*.md
.git
.gitignore
backups/
Makefile
docker-compose.yaml
Dockerfile.*
README.md
